<!DOCTYPE html>
<html>
  <head>
    <title>SUBDProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper white">
        <a href="/" class="brand-logo grey-text text-darken-3">Lorem Ipsum</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/users/sign_in" class="text grey-text text-darken-3"><i class="material-icons right">person_outline</i>Login</a></li>
          <li><a href="/upload" class="text grey-text text-darken-3"><i class="material-icons right">file_upload</i>Upload recipe</a></li>
        </ul>
      </div>
    </nav>

    <!-- shows upload and login buttons for medium and small screen sizes -->
    <nav class="nav-center hide-on-large-only">
      <div class="nav-wrapper white">
        <ul id="nav-mobile" class="show-on-medium-and-down">
          <li><a href="users/sign_in" class="text grey-text text-darken-3"><i class="material-icons right">person_outline</i>Login</a></li>
          <li><a href="/upload" class="text grey-text text-darken-3"><i class="material-icons right">file_upload</i>Upload recipe</a></li>
        </ul>
      </div>
    </nav>

    <%= yield %>

    <footer class="z-depth-2">
        <p>Lorem Impsum &copy; 2018</p>
    </footer>
  </body>
</html>
